<Html>
  <head></head>
  <body>
    <h1>Hello, World..!!!</h1>
    <h2>Azure Blob Storage:</h2>
    <div>
        <h1>Welcome to Azure Blob Storage</h1>
        <p>This is a simple Flask web application that uses Blob Storage to read data</p>

        <h2>Azure Key Vault Secret:</h2>
        <p><strong>Secret Value:</strong> {{ secret.value }}</p>
        <p>successfull : {{success_message }}</p>
        <p>Able to read data : {{ data }}</p>
      <div>
          <a href="{{ url_for('next') }}">Upload Page</a>
      </div>
    
        
    </div>
  </body>
</Html>