<Html>
  <head>
    <title><b>Blob Storage</b></title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav_bar.html' %}

    <div class="container">
    <h1>Share Blob</h1>
    <input type="text" id="url_SAS" value="{{ sharelink }}" readonly>
    <button onclick="copyToClipboard()">Copy</button><br>
    <p id="copied_url"></p>
    <br>
    
    </div>

    <script>
      function copyToClipboard() {
        let copyURL = document.getElementById("url_SAS");
        copyURL.select();
        document.execCommand("copy");
        document.getElementById("copied_url").innerHTML = "Copied the URL: " + copyURL.value;
      }
    </script>
  </body>
</Html>
