<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Form</title>
</head>
<body>
    <h2>File Upload Form</h2>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" >
        <br>
        <input type="submit" value="Upload">
    </form>

  <p>=====================================</p>
  <p>=====================================</p>
  <div class="container">
      <h3>List of Blobs in Container</h3>
      <ul>
          {% for index in range(blob_names|length) %}
              
              <li><a href="{{ blob_urls[index] }}">{{ blob_names[index] }}</a></li>
          {% endfor %}
      </ul>
  </div>


</body>
</html>
